<footer class="position-fixed bottom-0 w-100 p-4 bg-dark text-center fs-1">
    <ul class="list-inline">
        <li class="list-inline-item"><a href=""><i class="bi bi-github text-light shadow"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="bi bi-linkedin text-light shadow"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="bi bi-youtube text-light shadow"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="bi bi-facebook text-light shadow"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="bi bi-twitter text-light shadow"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="bi bi-instagram text-light shadow"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="bi bi-globe text-light shadow"></i></a></li>
    </ul>
    <h6 class="text-muted">Copyright &copy; Neurothrone 2021</h6>
    <h6 class="text-muted">Made by Zane with &hearts;. Powered by Django.</h6>
</footer>